.header {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin: 90px 24px;
}

.header-link-list {
  display: flex;
  gap: 32px;
  margin-left: 25px;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-underline-position: under;
}

.link_active {
  text-decoration: none;
}

.header-link-list-item_no-bullet {
  list-style: none;
}

.header-link-list-item {
  list-style: circle;
}

.logo_img_black {
  justify-content: center;
  align-content: center;
  width: 148px;
  height: 105px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-underline-position: under;
}

.header-list {
  margin-left: 184px;
}

.cover {
  display: grid;
  min-height: 757px;
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-title {
  width: 100%;
  padding: 166px 0px 0px 50px;
  color: white;
  text-transform: uppercase;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text {
  display: flex;
  font-size: 100px;
  letter-spacing: 30px;
}

.aligned-text-center {
  margin-left: 285px;
  padding-top: 10px;
  letter-spacing: 30px;
  text-align: center;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_right {
  justify-content: end;
  padding-right: 50px;
  letter-spacing: 30px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding-top: 128px;
  text-transform: uppercase;
}

.cover__description-text {
  margin-bottom: 12px;
  margin-left: 40px;
  color: white;
  font-size: 22px;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-top: 2px;
  margin-right: 12px;
  border: 1px solid white;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  height: 100%;
  padding: 183px 24px 0 24px;
  font-size: 40px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 25px;
  list-style: none;
}

.lost__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_link {
  height: 100%;
}

.card {
  display: grid;
  width: 334px;
  min-height: 563px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  padding: 51px 40px 0 40px;
  color: white;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  padding: 0 40px 48px 40px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  padding: 30px 0 0 40px;
  font-size: 20px;
  text-underline-position: under;
}

.about {
  margin: 146px 24px 0 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  grid-template-areas: "logo text";
  padding: 30px 0 0 12px;
}

.about-logo {
  display: flex;
  grid-area: logo;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 35px;
  border-radius: 125px;
  background-color: black;
}

.about-logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 114px;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  gap: 24px;
  width: 100%;
  max-width: 693px;
  padding: 98px 0 13px 0;
}

.about__title {
  margin-top: 3px;
  padding-bottom: 75px;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0022em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin: 140px 50px 80px 50px;
}

.footer-list {
  margin-top: 30px;
}

.footer-link-list {
  gap: 23px;
  line-height: 21.13px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: under;
  list-style: none;
}

.footer_social {
  display: flex;
  justify-content: end;
  font-style: normal;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 14px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
